header
  div(class="pb-2.5 pt-[15px] px-2.5 flex place-content-center relative")
    button(type="button" class="md:hidden absolute top-1/2 -translate-y-1/2 left-2 w-[55px] h-[55px] flex justify-center items-center")
      span.hamburger-btn
        span
    a(href="/")
      img(class="max-h-[45px]" src="https://d2otiughgt5pr2.cloudfront.net/wp-content/uploads/sites/2273/2021/10/logo-48x200-42c7.png", alt="")
    div(class="menu-mask hidden bg-black/70 md:bg-transparent fixed md:static left-0 top-0 w-full h-full")
      ul(class="w-4/5 md:w-auto bg-[#212121] max-w-xs fixed top-0 bottom-0 text-white")
        li
          a.menu-item.menu-link.flex.justify-between.items-center(href="#")
            |MicMind Studio
            span.text-2xl.rotate-90.origin-center &#155;
          ul.hidden
            li
              a.menu-item(href="#") 錄音室主題
            li
              a.menu-item(href="#") 錄音設備
            li
              a.menu-item(href="#") 常見問題
        li
          a.menu-item.menu-link.flex.justify-between.items-center(href="#")
            |Price
            span.text-2xl.rotate-90.origin-center &#155;
          ul.hidden
            li
              a.menu-item(href="#") 錄音室預訂
            li
              a.menu-item(href="#") 常客優惠方案
            li
              a.menu-item(href="#") Podcast 製作服務
            li
              a.menu-item(href="#") 器材出租
        li
          a.menu-item.menu-link.flex.justify-between.items-center(href="/")
            |My Account
            span.text-2xl.rotate-90.origin-center &#155;
