extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'bg-[#f4f4f4]';

block head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")

block content
  div(class="bg-[#f4f4f4] text-[#323232] p-5")
    ul.flex.items-center.text-sm
      li.inline-flex.items-center
        a(class="text-gray-600 hover:text-blue-500" href='/')
          svg.w-5.h-auto.fill-current.mx-2.text-gray-400(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', fill='#000000')
            path(d='M0 0h24v24H0V0z', fill='none')
            path(d='M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z')
        svg.w-5.h-auto.fill-current.mx-2.text-gray-400(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
          path(d='M0 0h24v24H0V0z', fill='none')
          path(d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z')
      li.inline-flex.items-center
        a(class="text-gray-600 hover:text-blue-500" href='#').
          結帳
  div(class="px-2.5 screen:px-5")
    .bg-white(class="mb-3.5 rounded")
      #member.text-sm.font-light(class="py-3.5 px-7 text-[#fc2819] flex items-center")
        svg.w-5.h-5.mr-2(xmlns='http://www.w3.org/2000/svg', fill='currentColor', viewBox='0 0 20 20')
          path(d='M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-6.535 6.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003z')
        |會員登入
      #member-slidedown.border-t(class="border-[#eee] py-2.5 px-2 hidden overflow-hidden")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="mail") 電子郵件
            span.text-red-500 *
          input#mail(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="email")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="password") 密碼
            span.text-red-500 *
          input#password(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="password")
        div(class="p-[3px]")
          button.text-sm.text-white.w-full(class="bg-[#f24d07] mt-2.5 py-2 px-3.5 rounded-[3px]" type="button") 登入
        .mb-6
          a.text-sm.font-light(href="/forget-password.html") 忘記您的密嗎？
    .bg-white(class="mb-7 rounded")
      .text-sm.font-light(class="py-3.5 px-7 text-[#515151] flex items-center")
        svg.w-5.h-5.mr-2(class="text-[#fc2819]" xmlns='http://www.w3.org/2000/svg', fill='currentColor', viewBox='0 0 20 20')
          path(fill-rule='evenodd', d='M5.5 3A2.5 2.5 0 0 0 3 5.5v2.879a2.5 2.5 0 0 0 .732 1.767l6.5 6.5a2.5 2.5 0 0 0 3.536 0l2.878-2.878a2.5 2.5 0 0 0 0-3.536l-6.5-6.5A2.5 2.5 0 0 0 8.38 3H5.5zM6 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z', clip-rule='evenodd')
        |有折價券嗎?
        span#showCoupon(class="text-[#fc2819] cursor-pointer underline") 按此輸入您的折價碼
      #coupon-slidedown.border-t(class="border-[#eee] py-2.5 px-2 hidden overflow-hidden")
        div(class="flex items-center gap-x-3")
          input#coupon(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text" placeholder="輸入折價券")
          button.text-sm.text-white.whitespace-nowrap(class="bg-[#fc2819] py-2 px-3.5 rounded-[3px]" type="button") 重設密碼
    .div(class="md:grid md:grid-cols-2 md:gap-x-[2%] md:items-start")
      .bg-white(class="mb-7 rounded py-[30px] px-2 border border-[#ccc]")
        h3(class="text-[21px] mb-5") 帳單資訊
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="name") 姓名
            span.text-red-500 *
          input#name(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="mail") 電子郵件地址
            span.text-red-500 *
          input#mail(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="mail")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="phone") 聯絡電話
            span.text-red-500 *
          input#phone(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="tel")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="program") 節目名稱(協助您節目曝光)
            span.text-red-500 *
          input#program(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text")
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="ig") IG帳號(協助您行銷推廣)
            span.text-red-500 *
          input#ig(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text")
        div(class="p-[3px] pt-2 my-5 border-t border-[#ccc]")
          label(class="p-[3px] text-sm font-light leading-loose" for="password") 建立登入密碼
            span.text-red-500 *
          input#password(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="password")
        h3(class="text-[21px] mb-5") 額外資訊
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="remark") 訂單備註
            span.text-red-500 *
          textarea#remark(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" placeholder="您的訂單的備註，例如: 運送時的特別註記。")
        h3(class="text-[21px] mt-5 mb-2.5") 發票資訊
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="taxID") 發票是否需要打統一編號
            span.text-red-500 *
          select#taxID(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]")
            option(value="") 是
            option(value="") 否
        div(class="p-[3px]")
          label(class="p-[3px] text-sm font-light leading-loose" for="invoice") 電子發票索取方式
            span.text-red-500 *
          select#invoice(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]")
            option(value="member-vehicle") 會員載具 (電子發票將寄送至您的電子郵件地址)
            option(value="mobile-phone-barcode") 手機條碼
            option(value="natural-person-certificate-barcode") 自然人憑證條碼
            option(value="donation-invoice") 捐贈發票
          #mobile-phone-barcode.select-toggle-show.hidden
            div(class="p-[3px]")
              label(class="p-[3px] text-sm font-light leading-loose" for="mobile-phone-barcode-input") 載具編號 (選填)
              input#mobile-phone-barcode-input(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text" placeholder="請輸入手機條碼")
          #natural-person-certificate-barcode.select-toggle-show.hidden
            div(class="p-[3px]")
              label(class="p-[3px] text-sm font-light leading-loose" for="natural-person-certificate-barcode-input") 載具編號 (選填)
              input#natural-person-certificate-barcode-input(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text" placeholder="請輸入自然人憑證條碼")
          #donation-invoice.select-toggle-show.hidden
            div(class="p-[3px]")
              label(class="p-[3px] text-sm font-light leading-loose" for="donation-invoice-input") 愛心碼
                a(href='https://www.einvoice.nat.gov.tw/APMEMBERVAN/XcaOrgPreserveCodeQuery/XcaOrgPreserveCodeQuery', target='_blank') 查詢愛心碼
                |(選填)
              input#donation-invoice-input(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="text" placeholder="請輸入受捐單位愛心碼")
      .bg-white(class="mb-7 rounded py-[30px] px-2 border border-[#ccc]")
        h3(class="text-[21px] mb-5") 帳單資訊
        .p-5.mb-6
          table.text-start.text-sm.w-full
            thead
              tr
                th.font-normal.text-start(class="py-[9px] pr-3 border-b border-[#ddd]") 商品
                th.font-normal.text-start(class="py-[9px] pr-3 border-b border-[#ddd]") 總計
            tbody
              tr.font-light
                td(class="py-[15px] border-b border-[#ddd]") 7小時｜全錄音室主題任選 × 1
                td(class="py-[15px] border-b border-[#ddd]") NT$ 4,800
              tr
                td(class="py-[15px] border-b border-[#ddd]") 小計
                td(class="py-[15px] border-b border-[#ddd]") NT$ 4,800
              tr
                td(class="py-[15px]") 總計
                td(class="py-[15px]") NT$ 4,800
        div(class="border-b border-[#d3ced2] -mx-2 px-2")
          .flex.items-center(class="bg-[#f5f5f5] py-[15px] -mx-2 px-2")
            input#default-radio-2.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(class="dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" checked, type='radio', name='default-radio')
            label.ml-2.text-sm.font-medium(class="flex items-center" for='default-radio-2') 藍新金流
              img(class="ml-[7px]" src='https://www.micmind.studio/wp-content/plugins/spgateway/icon/newebpay.png', alt='藍新金流')
          .text-xs.py-6.px-3.-mx-3 透過 藍新金流 付款。
        .mt-10
          button(class="bg-[#f24d07] rounded-[3px] w-full text-white py-3 text-sm" type="button") 下單購買


block script
  script.
    function toggleSlide(element) {
      // Check if the element is currently visible
      if (element.style.display== '' || element.style.display== 'none') {
        // If the element is not visible, slide it down
        slideDown(element);
      } else {
        // If the element is visible, slide it up
        slideUp(element);
      }
    }

    function slideDown(element) {

      // If the element is not visible, set the display and height properties
      if (element.style.display !== 'block') {
        element.style.display = 'block';
        element.style.height = 0;
      }

        // Get the height of the element's content
      const contentHeight = element.scrollHeight;

      // Set a variable to keep track of the element's height
      let currentHeight = 0;

      // Start an animation loop
      function animate() {
        // Increase the element's height by 10px
        currentHeight += 10;

        // Update the element's height
        element.style.height = `${currentHeight}px`;

        // If the element's height is less than the content height, request another animation frame
        if (currentHeight < contentHeight) {
          requestAnimationFrame(animate);
        }
      }

      // Start the animation
      animate();
    }

    function slideUp(element) {
      // Get the height of the element's content
      const contentHeight = element.scrollHeight;
      // Set a variable to keep track of the element's height
      let currentHeight = contentHeight;

      // Start an animation loop
      function animate() {
        // Decrease the element's height by 10px
        currentHeight -= 10;

        // Update the element's height
        element.style.height = `${currentHeight}px`;

        // If the element's height is greater than 0, request another animation frame
        if (currentHeight > 0) {

          requestAnimationFrame(animate);
        } else {
          // If the animation is complete, hide the element
          element.style.display = 'none';
        }

      }

      // Start the animation
      animate();
    }

    const member = document.querySelector('#member')
    const memberSlideDown = document.querySelector('#member-slidedown')
    member.addEventListener('click', ()=>{
      toggleSlide(memberSlideDown)
    })
    const coupon = document.querySelector('#showCoupon')
    const couponSlideDown = document.querySelector('#coupon-slidedown')
    coupon.addEventListener('click', ()=>{
      toggleSlide(couponSlideDown)
    })
    const invoice = document.querySelector('#invoice')
    const selectToggleShow = document.querySelectorAll('.select-toggle-show')
    invoice.addEventListener('change', function(){
      const el = this.value
      for(let i = 0;i<selectToggleShow.length;i++) {
        selectToggleShow[i].classList.add('hidden')
      }
      document.querySelector('#'+el)?.classList.remove('hidden')
    })