extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'bg-[#f4f4f4]';

block head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")

block content
  div(class="text-[#323232] pt-[70px] pb-2.5 px-2.5")
    .bg-white(class="py-[30px] px-2 max-w-[600px] mx-auto mb-[50px]")
      p.text-sm.font-light.mb-6 忘記您的密嗎？請輸入您註冊的電子郵件。您將會在電子郵件信箱中收到重設密碼的連結。
      div
        label(class="p-[3px] text-sm font-light leading-loose" for="password") 密碼
          span.text-red-500 *
        input#password(class="w-full p-2 bg-[#f6f6f6] rounded-sm border border-[#ddd]" type="password")
      button.text-sm.text-white(class="bg-[#f24d07] mt-2.5 py-2 px-3.5 rounded-[3px]" type="button") 重設密碼

block script
  script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
  script.
    const tabs = document.querySelectorAll('.tab-item')
    const tabContents = document.querySelectorAll('.tab-content')

    tabs.forEach((tab)=>{
      tab.addEventListener('click', function(e) {
        for(let i = 0;i<tabs.length;i++){
          tabs[i].parentElement.classList.add('border-b')
          tabs[i].parentElement.classList.remove('bg-[#fcfcfc]')
          tabContents[i].classList.add('hidden')
        }
        e.preventDefault();
        this.parentElement.classList.remove('border-b')
        this.parentElement.classList.add('bg-[#fcfcfc]')
        const tabContent = document.querySelector(this.getAttribute('href'))
        tabContent.classList.remove('hidden')
      })
    })
